* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin: 0.5rem 0;
}

hr {
  margin: 1rem 0;
}

#books-container {
  border: 2px solid #000;
  margin: 0.625rem 0.4rem 0 0.4rem;
}

article:nth-child(odd) {
  background-color: #ccc;
}

.author-title-div {
  display: flex;
  justify-content: space-between;
  padding: 0.825rem 0.625rem;
}

.book-info {
  font-size: 0.9rem;
}

.remove-btn {
  padding: 0 0.25rem;
  border: 2px solid #000;
  box-shadow: 2px 2px 5px 3px #000;
  font-size: 0.9rem;
  font-weight: bold;
  height: 1.75rem;
}

#awesome-forms h2 {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
}

h2::before {
  content: " ";
  display: block;
  background-color: #000;
  width: 30%;
  height: 3px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.form-container {
  text-align: center;
  margin-top: 1rem;
}

input {
  margin-bottom: 0.5rem;
  border: 3px solid #000;
}

#title,
#author {
  font-size: 0.95rem;
  padding-left: 0.4rem;
  color: #000;
}

#title::placeholder,
#author::placeholder {
  color: #000;
  font-weight: bolder;
}

.add-btn {
  padding: 0 0.25rem;
  border: 2px solid #000;
  box-shadow: 2px 2px 5px 3px #000;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: end;
  transform: translateX(4.38rem);
}

.footer-div {
  display: flex;
  align-items: center;
  gap: 1.15rem;
  border: 2px solid #000;
  margin: 0.625rem 0.4rem 0 0.4rem;
  background-color: #ccc;
  padding: 0.825rem 0.625rem;
  position: fixed;
  bottom: 2px;
  left: 0;
  right: 0;
}

.logo a {
  color: #000;
  background-image: url('/orange-background.jpeg');
  background-position: bottom center;
  background-size: contain;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #000;
  padding: 0.825rem 0 0.825rem 0.625rem;
  margin: 0.1rem 0.4rem 0 0.4rem;
  background-color: #ccc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.items {
  border-right: 1px solid #000;
  padding-right: 0.5rem;
  color: #000;
}

.contacts {
  border: none;
}

#container {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

#contact-div {
  margin-top: 2rem;
}

#contact-div h3 {
  font-size: 2rem;
  text-align: center;
}

#contact-div p {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

ul {
  list-style-type: square;
  margin: 2rem;
  background-color: #ccc;
}

#awesome-forms,
#contact-div {
  display: none;
}

.message {
  color: #ec5242;
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.list {
  color: #00f;
}

.date-div {
  width: 100%;
  position: fixed;
  top: 3.2rem;
  background-color: #fff;
  z-index: 10;
  height: 1.56rem;
}

#date-time {
  display: block;
  color: #00f;
  position: fixed;
  right: 1rem;
  z-index: 5;
}
