* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin: 0.5rem 0;
}

hr {
  margin: 1rem 0;
}

#books-container {
  border: 2px solid #000;
  margin: 0.625rem 0.4rem 0 0.4rem;
}

article:nth-child(odd) {
  background-color: #ccc;
}

.author-title-div {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  padding: 0.825rem 0.625rem;
}

.book-info {
  font-size: 0.9rem;
  /* width: 85%; */
}

.remove-btn {
  padding: 0 0.25rem;
  border: 2px solid #000;
  box-shadow: 2px 2px 5px 3px #000;
  font-size: 0.9rem;
  font-weight: bold;
}

